#Forzar conexión segura y verificación estricta de certificados SSL
strict-ssl=true

#Apuntar explícitamente al registro oficial para evitar secuestros de DNS (Dependency Confusion)
registry=https://registry.npmjs.org/

#Auditoría automática obligatoria durante la instalación
audit=true
audit-level=high

#Asegurar que se respete estrictamente la versión de Node y el gestor de paquetes definido
engine-strict=true

#(Para pnpm) Evitar elevación de dependencias no declaradas que podrían ejecutar código malicioso silenciosamente
public-hoist-pattern=
